<header class="header">
    <div class="container">                       
        <img class="profile-image img-responsive pull-left" src="images/profile.png" alt="James Lee" />
        <div class="profile-content pull-left">
            <h1 class="name">James Lee</h1>
            <h2 class="desc">Web App Developer</h2>   
            <ul class="social list-inline">
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>                   
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-github-alt"></i></a></li>                  
                <li class="last-item"><a href="#"><i class="fa fa-hacker-news"></i></a></li>                 
            </ul> 
        </div><!--//profile-->
        <a class="btn btn-cta-primary pull-right" href="http://themes.3rdwavemedia.com/" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>              
    </div><!--//container-->
</header><!--//header-->