<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title><%= profile.title %></title>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML5 Website Landing Page for Developers">
    <meta name="author" content="Xiaoying Riley at 3rd Wave Media">    
    <link rel="shortcut icon" href="images/favicon.ico">  
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'> 
    <!-- Global CSS -->
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.css">
    
    <!-- github calendar css -->
    <link rel="stylesheet" href="plugins/github-calendar/dist/github-calendar.css"
/>
    <!-- github acitivity css -->
    <link rel="stylesheet" href="plugins/github-activity/src/github-activity.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="stylesheets/styles.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
</head> 

<body>
    <!-- ******HEADER****** --> 
    <header class="header">
        <div class="container">                       
            <img class="profile-image img-responsive pull-left" src=<%= profile.photo.href %> alt="<%= profile.name %>" />
            <div class="profile-content pull-left">
                <!-- <%= !!stPost ? stPost : "its not coming" %> -->
                <h1 class="name"><%= profile.name %></h1>
                <h2 class="desc"><%= profile.designation %></h2>
                <ul class="social list-inline">
                    <% profile.social_media.forEach((item) => { %>
                       <li><a href=<%= item.href %> ><i class="fa fa-<%= settings.social_media[item.type] %>"></i></a></li>
                    <% }) %>
                </ul>
            </div><!--//profile-->
            <a class="btn btn-cta-primary pull-right" href="https://www.messenger.com/t/karthik gangadhar" target="_blank"><i class="fa fa-paper-plane"></i> Contact Me</a>              
        </div><!--//container-->
    </header><!--//header-->
    
    <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>
                                <%- profile.description %>
                            </p>
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                </section><!--//section-->
    
               <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Open-Source Projects</h2>
                        <div class="content">
                            <% profile.projects.forEach((project) => { %>
                            <% if(project.isfeatured){ %>
                                <div class="item featured text-center">
                                        <h3 class="title"><a href=<%= project.project_url %> target="_blank"><%= project.title %></a><span class="label label-theme">Open Source</span></h3>
                                        <p class="summary"><%= project.summary %></p>
                                        <div class="featured-image">
                                            <!-- <a href=<%= project.project_url %> target="_blank">
                                            <img class="img-responsive project-image" src="images/projects/project-featured.png" alt="project name" />
                                            </a> -->
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe src=<%= project.youtube_video %>   ></iframe>
                                            </div>
                                            
                                        <div class="desc text-left">                                    
                                            <p style="text-align:-webkit-auto !important"><%= project.description %></p>
                                            <p>
                                                    <div class="desc text-left">
                                                            <% project.tags.forEach((tag) => { %>
                                                               <span class="label " style="background: rgba(153, 102, 255, 1);font-size: 12px;"><%= tag %></span>
                                                            <% }) %>
                                                    </div>
                                            </p>
                                        </div><!--//desc-->         
                                        <a class="btn btn-cta-secondary" href=<%= project.github_url %> target="_blank"><i class="fa fa-thumbs-o-up"></i> view in github</a>                 
                                    </div><!--//item-->
                                    <hr class="divider" />
                            <% } else{ %>    
                            <div class="item row">
                                <% if(!project.youtube_video){ %>
                                <a class="col-md-4 col-sm-4 col-xs-12" href=<%= project.project_url %> target="_blank">
                                <img class="img-responsive project-image" src=<%= project.photo.href %> alt=<%= project.title %> />
                                </a>
                                <% }else { %>
                                    <iframe class="col-md-4 col-sm-4 col-xs-12" src=<%= project.youtube_video %>  ></iframe>
                                <% } %>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href=<%= project.project_url %> target="_blank"><%= project.title %></a><span class="label label-theme">Open Source</span></h3>
                                    <p style="text-align:-webkit-auto !important"><%= project.description %></p>
                                    <div class="desc text-left">
                                            <% project.tags.forEach((tag) => { %>
                                               <span class="label" style="background: rgba(153, 102, 255, 1);font-size: 12px;"><%= tag %></span>
                                            <% }) %>
                                    </div>
                                    <p>
                                        <div class="col-xs-6">
                                                <a class="more-link" href=<%= project.github_url %> target="_blank"><i class="fa fa-external-link"></i> GitHub</a>
                                        </div>
                                        <div class="col-xs-6">
                                        <a class="more-link" href=<%= project.project_url %> target="_blank"><i class="fa fa-external-link"></i> more</a></p>
                                        </div>
                                    </div><!--//desc-->                          
                            </div><!--//item-->
                            <% } %>
                            
                             <% }) %>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->

                <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Npm Modules</h2>
                        <div class="content">
                            <% profile.npm_modules.forEach((project) => { %>    
                            <div class="item row">
                                <% if(!project.youtube_video){ %>
                                <a class="col-md-4 col-sm-4 col-xs-12" href=<%= project.project_url %> target="_blank">
                                <img class="img-responsive project-image" src=<%= project.photo.href %> alt=<%= project.title %> />
                                </a>
                                <% }else { %>
                                    <iframe class="col-md-4 col-sm-4 col-xs-12" src=<%= project.youtube_video %>  ></iframe>
                                <% } %>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href=<%= project.project_url %> target="_blank"><%= project.title %></a></h3>
                                    <p style="text-align:-webkit-auto !important"><%= project.description %></p>
                                    <div class="desc text-left">
                                            <% project.tags.forEach((tag) => { %>
                                               <span class="label" style="background: rgba(153, 102, 255, 1);font-size: 12px;"><%= tag %></span>
                                            <% }) %>
                                    </div>
                                    <p>
                                        <div class="col-xs-6">
                                                <a class="more-link" href=<%= project.github_url %> target="_blank"><i class="fa fa-external-link"></i> GitHub</a>
                                        </div>
                                        <div class="col-xs-6">
                                        <a class="more-link" href=<%= project.project_url %> target="_blank"><i class="fa fa-external-link"></i> more</a></p>
                                        </div>
                                    </div><!--//desc-->                          
                            </div><!--//item-->
                             <% }) %>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                
                <section class="latest section">
                    <div class="section-inner">
                        <h2 class="heading">Ruby Gems</h2>
                        <div class="content">
                            <% profile.ruby_gems.forEach((project) => { %>    
                            <div class="item row">
                                <% if(!project.youtube_video){ %>
                                <a class="col-md-4 col-sm-4 col-xs-12" href=<%= project.project_url %> target="_blank">
                                <img class="img-responsive project-image" src=<%= project.photo.href %> alt=<%= project.title %> />
                                </a>
                                <% }else { %>
                                    <iframe class="col-md-4 col-sm-4 col-xs-12" src=<%= project.youtube_video %>  ></iframe>
                                <% } %>
                                <div class="desc col-md-8 col-sm-8 col-xs-12">
                                    <h3 class="title"><a href=<%= project.project_url %> target="_blank"><%= project.title %></a></h3>
                                    <p style="text-align:-webkit-auto !important"><%= project.description %></p>
                                    <div class="desc text-left">
                                            <% project.tags.forEach((tag) => { %>
                                               <span class="label" style="background: rgba(153, 102, 255, 1);font-size: 12px;"><%= tag %></span>
                                            <% }) %>
                                    </div>
                                    <p>
                                        <div class="col-xs-6">
                                                <a class="more-link" href=<%= project.github_url %> target="_blank"><i class="fa fa-external-link"></i> GitHub</a>
                                        </div>
                                        <div class="col-xs-6">
                                        <a class="more-link" href=<%= project.project_url %> target="_blank"><i class="fa fa-external-link"></i> more</a></p>
                                        </div>
                                    </div><!--//desc-->                          
                            </div><!--//item-->
                             <% }) %>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->                
                
                <section class="projects section">
                    <div class="section-inner">
                        <h2 class="heading"><i class="fa fa-stack-overflow" aria-hidden="true" ></i>   StackOverflow Posts</h2>
                        <div class="content">
                            <% stPost.stResponse.forEach((post) => { %>
                            <div class="item">
                                <% let answer_url = "https://stackoverflow.com/a/" + post.answer_id %>
                                <h3 class="title"><a href="<%= answer_url %>">Answered on <%= post.date %></a></h3>                                                                
                                <p class="summary"><%= post.title %></p>
                                <p><a class="more-link" href="<%= answer_url %>" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                            </div><!--//item-->
                            <% }) %>
                            <a class="btn btn-cta-secondary" href="https://stackoverflow.com/users/6414102/kgangadhar?tab=answers">More on StackOverflow <i class="fa fa-chevron-right"></i></a>
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                
                <section class="experience section">
                    <div class="section-inner">
                        <h2 class="heading">Work Experience</h2>
                        <div class="content">
                            <div class="item">
                                <h3 class="title">Software Engineeer <span class="place"><a href="https://www.brillio.com/">Brillio</a></span> <span class="year">(September 2015 - Present)</span></h3>
                                <p>
                                    Currently I'm working on Brillio technologies. Developed Restful Api’s in Nodejs using framework Hapi/Expressjs with mongodb
                                    & redis for one of the big real estate site <a href="http://www.realtor.com/">Realtor.com</a> in US Worked on presentation
                                    layer for the real estate site realtor.com using rails framework, modeling data consumed
                                    from other restful apis & rendering to frontend

                                </p>

                                <p>
                                    Responsible for managing the interchange of data between the server and the users in api development Responsible for coding
                                    in highly agile environment creating complex & enterprise-transforming solutions in Nodejs
                                    Development of all server-side logic, definition and maintenance of the central database,
                                    and ensuring high performance and responsiveness to requests from the front-end
                                </p>
                            </div><!--//item-->
                            
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </section><!--//section-->
                <section class="github section">
                    <div class="section-inner">
                        <h2 class="heading">My GitHub</h2>
                        
                        <div id="github-graph" class="github-graph">

                        </div><!--//github-graph-->

                        <!--//Usage: http://caseyscarborough.com/projects/github-activity/ -->                       
                        <div id="ghfeed" class="ghfeed">
                        </div><!--//ghfeed-->
                        
                    </div><!--//secton-inner-->
                </section><!--//section-->
            </div><!--//primary-->
            <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Basic Information</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Bangalore, India</li>
                                <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="#">karthikg1643@gmail.com</a></li>
                                <li><i class="fa fa-whatsapp"></i><span class="sr-only">Website:</span><a href="tel:+919880963561">+919880963561</a></li>
                            </ul>
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
                
                <aside class="skills aside section">
                    <div class="section-inner">
                        <h2 class="heading">Skills</h2>
                        <div class="content">
                            <p class="intro">
                                <%= profile.skills.description %>
                            </p>
                            
                            <div class="skillset">
                               
                                <div class="skillset">
                                    <% profile.skills.tags.forEach((tag) => { %>
                                    <div class="item">
                                        <h3 class="level-title"><%= tag.name %>
                                            <span class="level-label"><%= tag.level %></span>
                                        </h3>
                                        <div class="level-bar">
                                            <div class="level-bar-inner" data-level=<%= tag.percentile %>  >
                                            </div>
                                        </div>
                                        <!--//level-bar-->
                                    </div>
                                    <!--//item-->
                                    <% }) %>
                            </div>              
                        </div><!--//content-->  
                    </div><!--//section-inner-->                 
                </aside><!--//section-->
                
                <aside class="testimonials aside section">
                    <div class="section-inner">
                        <h2 class="heading">Testimonials</h2>
                        <div class="content">
                            <div class="item">
                                <blockquote class="quote">                                  
                                    <p><i class="fa fa-quote-left"></i>James is an excellent software engineer and he is passionate about what he does. You can totally count on him to deliver your projects!</p>
                                </blockquote>                
                                <p class="source"><span class="name">Tim Adams</span><br /><span class="title">Curabitur commodo</span></p>                                                             
                            </div><!--//item-->
                            
                            <p><a class="more-link" href="#"><i class="fa fa-external-link"></i> More on Linkedin</a></p> 
                            
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <aside class="education aside section">
                    <div class="section-inner">
                        <h2 class="heading">Education</h2>
                        <div class="content">
                            <% profile.education.forEach((section) => {  %>
                            <div class="item">                      
                                <h3 class="title"><i class="fa fa-graduation-cap"></i> <%= section.specialization %> </h3>
                                <h4 class="university"><%= section.institute %> <span class="year">(<%= section.timeline.start_year %>-<%= section.timeline.end_year %>)</span></h4>
                            </div><!--//item-->
                            <% }) %>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                            
                <aside class="languages aside section">
                    <div class="section-inner">
                        <h2 class="heading">Languages</h2>
                        <div class="content">
                            <ul class="list-unstyled">
                                <% profile.languages.forEach((language) => { %>
                                <li class="item"><span class="title"><strong><%= language.name %>:</strong></span>
                                    <span class="level"><%= language.description %><br class="visible-xs" /></span>
                                </li>
                                <% }) %>
                                <!--//item-->
                            </ul>
                        </div><!--//content-->
                    </div><!--//section-inner-->
                </aside><!--//section-->
                
                <!-- blog posts partial should come here -->
                
                <!-- favorate music partial should come here -->
                
                <!-- conference partial should come here -->
                
                <!-- credit partial should come here -->
              
            </div><!--//secondary-->    
        </div><!--//row-->
    </div><!--//masonry-->
    
    <!-- ******FOOTER****** --> 
    <footer class="footer">
        <div class="container text-center">
                <!--/* This template is released under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using for your own project. Thank you for your support. :) If you'd like to use the template without the attribution, you can check out other license options via our website: themes.3rdwavemedia.com */-->
                <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
        </div><!--//container-->
    </footer><!--//footer-->
 
    <!-- Javascript -->          
    <script type="text/javascript" src="plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="plugins/bootstrap/js/bootstrap.min.js"></script>    
    <script type="text/javascript" src="plugins/jquery-rss/dist/jquery.rss.min.js"></script> 
    <!-- github calendar plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.0.2/es6-promise.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.10.1/fetch.min.js"></script>
    <script type="text/javascript" src="plugins/github-calendar/dist/github-calendar.min.js"></script>
    <!-- github activity plugin -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script type="text/javascript" src="plugins/github-activity/src/github-activity.js"></script>
    <!-- custom js -->
    <script type="text/javascript" src="javascripts/main.js"></script>            
</body>
</html> 

